.quote-form .gform_heading,
.quote-form .gform_body,
.quote-form .gform_footer {
  clear: both;
  padding-bottom: 20px; }

.quote-form ul.gform_fields {
  list-style: none;
  margin: 0 -15px;
  padding: 0; }

.quote-form li.gfield {
  clear: both;
  overflow: auto;
  padding: 0 15px 20px; }

.quote-form .ginput_container span {
  margin-bottom: 10px; }

.quote-form .ginput_container input.large,
.quote-form .ginput_container select.large,
.quote-form .ginput_container textarea.large {
  width: 100%; }

.quote-form .ginput_container input.medium,
.quote-form .ginput_container select.medium,
.quote-form .ginput_container textarea.medium {
  width: 66%; }

.quote-form .ginput_container input.small,
.quote-form .ginput_container select.small,
.quote-form .ginput_container textarea.small {
  width: 33%; }

.quote-form .ginput_container input,
.quote-form .ginput_container textarea {
  margin: 2px; }

.quote-form label.gfield_label {
  display: inline-block;
  padding-bottom: 10px; }
  .left_label .quote-form label.gfield_label {
    float: left;
    width: 25%; }
  .right_label .quote-form label.gfield_label {
    float: right;
    width: 25%; }

.quote-form .gfield_required {
  padding-left: 5px; }

.quote-form ul.gfield_checkbox,
.quote-form ul.gfield_radio {
  list-style: none;
  padding: 0; }
  .quote-form ul.gfield_checkbox input,
  .quote-form ul.gfield_radio input {
    margin-right: 10px;
    position: relative;
    top: -1px; }

.quote-form ul.gfield_radio input {
  margin-left: 2px; }

.quote-form .gsection h2 {
  border-bottom: 3px solid black;
  padding-bottom: 15px; }

.quote-form .gf_progressbar_wrapper {
  padding-bottom: 15px; }

.quote-form .gf_progressbar {
  background: gray; }

.quote-form .gf_progressbar_percentage {
  background: red;
  padding: 5px 10px;
  text-align: right; }

.quote-form .gfield_time_hour, .quote-form .gfield_time_minute, .quote-form .gfield_time_ampm {
  display: inline;
  display: inline-block; }

.quote-form .gfield_time_hour label, .quote-form .gfield_time_minute label {
  display: block; }

.quote-form .gfield_time_ampm {
  vertical-align: top; }

.quote-form .validation_error {
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 15px; }

.quote-form li.gfield.gfield_error {
  background: #FFDFE0;
  margin-bottom: 15px;
  padding-top: 15px; }
  .quote-form li.gfield.gfield_error label.gfield_label {
    font-weight: bold; }

.quote-form li.gfield .validation_message {
  font-weight: bold;
  margin-top: 10px; }

.quote-form .gform_validation_container {
  display: none; }

.quote-form .ginput_full {
  display: block; }
  .quote-form .ginput_full input, .quote-form .ginput_full select, .quote-form .ginput_full textarea {
    margin-bottom: 5px;
    width: 100%; }
  .quote-form .ginput_full label {
    display: block; }

.quote-form .ginput_left {
  float: left;
  padding-right: 10px;
  width: 50%; }
  .quote-form .ginput_left input, .quote-form .ginput_left select, .quote-form .ginput_left textarea {
    margin-bottom: 5px;
    width: 100%; }
  .quote-form .ginput_left label {
    display: block; }

.quote-form .ginput_right {
  float: right;
  width: 50%; }
  .quote-form .ginput_right input, .quote-form .ginput_right select, .quote-form .ginput_right textarea {
    margin-bottom: 5px;
    width: 100%; }
  .quote-form .ginput_right label {
    display: block; }

.quote-form .ginput_right {
  float: right;
  width: 50%; }

.quote-form li.gf_left_half {
  clear: none;
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 50%; }

.quote-form li.gf_right_half {
  clear: none;
  float: right;
  padding-bottom: 10px;
  width: 50%; }

.quote-form li.gf_left_third {
  clear: none;
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 33%; }

.quote-form li.gf_middle_third {
  clear: none;
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 34%; }

.quote-form li.gf_right_third {
  clear: none;
  float: right;
  padding-bottom: 10px;
  width: 33%; }

.quote-form li.gf_first_quarter {
  clear: none;
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 25%; }

.quote-form li.gf_second_quarter {
  clear: none;
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 25%; }

.quote-form li.gf_third_quarter {
  clear: none;
  float: left;
  padding-bottom: 10px;
  width: 25%; }

.quote-form li.gf_fourth_quarter {
  clear: none;
  float: right;
  padding-bottom: 10px;
  width: 25%; }

@media screen and (max-width: 480px) {
  .quote-form li.gf_left_half, .quote-form li.gf_right_half, .quote-form li.gf_left_third, .quote-form li.gf_middle_third, .quote-form li.gf_right_third, .quote-form li.gf_first_quarter, .quote-form li.gf_second_quarter, .quote-form li.gf_third_quarter, .quote-form li.gf_fourth_quarter {
    width: 100%; } }

.quote-form .gf_list_2col ul.gfield_checkbox li,
.quote-form .gf_list_2col ul.gfield_radio li {
  float: left;
  padding-bottom: 10px;
  width: 50%; }

.quote-form .gf_list_3col ul.gfield_checkbox li,
.quote-form .gf_list_3col ul.gfield_radio li {
  float: left;
  padding-bottom: 10px;
  width: 33%; }

.quote-form .gf_list_4col ul.gfield_checkbox li,
.quote-form .gf_list_4col ul.gfield_radio li {
  float: left;
  padding-bottom: 10px;
  width: 25%; }

.quote-form .gf_list_5col ul.gfield_checkbox li,
.quote-form .gf_list_5col ul.gfield_radio li {
  float: left;
  padding-bottom: 10px;
  width: 20%; }

.quote-form .gf_list_inline ul.gfield_checkbox li,
.quote-form .gf_list_inline ul.gfield_radio li {
  display: inline-block;
  padding-right: 10px;
  padding-bottom: 10px; }

@media screen and (max-width: 480px) {
  .quote-form .gf_list_2col ul.gfield_checkbox li,
  .quote-form .gf_list_2col ul.gfield_radio li,
  .quote-form .gf_list_3col ul.gfield_checkbox li,
  .quote-form .gf_list_3col ul.gfield_radio li,
  .quote-form .gf_list_4col ul.gfield_checkbox li,
  .quote-form .gf_list_4col ul.gfield_radio li,
  .quote-form .gf_list_5col ul.gfield_checkbox li,
  .quote-form .gf_list_5col ul.gfield_radio li {
    width: 100%; } }
