@font-face {
	font-family: 'Januar';
	src: url('../fonts/januar.eot');
	src: url('../fonts/januar.eot?#iefix') format('embedded-opentype'),
             url('../fonts/januar.woff2') format('woff2'),
	     url('../fonts/januar.woff') format('woff'),
	     url('../fonts/januar.ttf') format('truetype'),
	     url('../fonts/januar.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}
