//Structure

.inc-svg {
  position: relative;
}

.home-one {
z-index: 11;
}

.melon-container {
    img {
      max-width: initial;
      height: 100%;
      object-fit: fill;
      width: 75%;
      float: right;
      position: relative;
      z-index: 15;
      margin-right: 5%;
      margin-top: 50px;
    }

    .text-wrap {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 15;

      h1 {
        font-size: 6.2rem;
      }
    }
}


.home-two {
  z-index: 10;
padding: 0;
  .btn {
    float: right;
    margin: 20px 0 0 0;
  }
}

.home-three {
  z-index: 10;
  margin-bottom: 100vh;

  .melon-type-cont {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 500px;
    margin-top: -80px;
    margin-bottom: -36px;
    z-index: 10;
      .melon-slice {
        position: absolute;
        top:0;
        width: 95%;
        right: 0;
      }

      .type-fresh {
        position: absolute;
        right: 0;
        width: 28%;
        top: 28%;
      }

      .type-healthy {
        position: absolute;
        width: 25%;
        top: 10%;
        right: 10%;
      }

      .type-juicy {
        position: absolute;
        right: 14%;
        width: 28%;
        bottom: 20%;
      }

      .type-heart {
        position: absolute;
        width: 45%;
        top: 25%;
        left: 10%;
      }
  }
}

.home-four {
    padding: 200px 0 150px 0;
   background-image: url(../assetts/img/bottom-hero.jpg);
   position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    height: 100vh;
}



.home-svg {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 150px;
    z-index: 5;

    .svg-blue {
      fill: $brand-blue;
    }

    .svg-pink {
      fill: $brand-light-pink;
    }
}

.svg-top {
  top: 0;
  bottom: inherit;
}



//Parralax Elements

.disco-cont {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 500px;
    .straw {
      position: absolute;
      width: 60%;
      top: 12%;
      right: -15%;
      z-index: 19;
    }

    .disco-ball {
      position: absolute;
      bottom: 0;
      z-index: 15;
      width: 100%;
      height: auto;
      left: -100vw;
    }
}


.home-txt-cont {
  margin-top: 20px;
  padding: 10px;
  border: 3px dashed $brand-green;
}

.z-10 {
  z-index: 10;
}

.pad-top {
  padding-top: 80px;
  padding-bottom: 20px;
}
