// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

//Structure

html {
  font-size: 16px;
}

@include media-breakpoint-down(md) {
  .content-wrapper {
    padding-top: 30px!important;
  }

  .content-wrapper-sml {
    padding-top: 0!important;
  }

  html {
    font-size: 12px;
  }

  p {
    font-size: 1.4rem;
  }
}

.content-wrapper {
  padding: 250px 0 0 0;
  min-height: calc(100vh - 100px);
  overflow: hidden;
}

.content-wrapper-sml {
  padding-top: 150px;
}

.content-wrapper-no {
  padding-top: 0;
}


//BG's

body {
  background-color: $brand-blue;
  overflow-x: hidden;
}

.blue-bg {
  background-color: $brand-blue;
}

.pink-bg-light {
  background-color: $brand-light-pink;
}

.pink-bg-drk {
  background-color: $brand-drk-pink;
}

.full-w {
  width: 100vw;
}

.img-bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


//nav

.mobile-menu {
  width: 100vw;
  height: 100vh;
  background: $brand-blue;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  #mobile-items {
    margin-top: 50px;
  }

  .menu-item {
    display: block;
    text-align: center;
    font-size: 1.4rem;
  }
}


.current-menu-item {

  a {
  color: $brand-drk-pink!important;
}
}

.menu-item {
  font-size: 1.2rem;
}
.mini-nav {
  position: fixed;
  top: -60px;
  left: 0;
  right: 0;
  height: 60px;
  background: $brand-blue;
  z-index: 20;
  border-bottom: 2px solid $white;
  text-transform: uppercase;

  @include transition(all .5s ease-in-out);

  p {
    line-height: 60px;
    color: $white;
    text-align: right;
    font-size: 1.3rem;
  }
  ul {
    padding: 0;
    margin: 0;
    display: inline-block;
    position: relative;
    line-height: 40px;

    li {
       a {
         color: $white;
       }
    }
  }
}

@include media-breakpoint-down(sm) {
  .mini-nav {
    top: 0;
    height: auto;
    background: transparent;
    border: none;
  }

#mini-menu {
    background: $brand-blue;
    width: 100vw;
    height: 100vh;

    li {
      display: block;
      text-align: center;
      width: 100%;
    }
  }
 }


.navbar-toggler {
  z-index: 10000;
  position: fixed;
  right: 10px;
  top: 10px;

  i {
    color: white;
  }
}
.navbar-toggler-icon {

}
.mini-visible {
  top: 0;
}

.wrapper-navbar {
  background-color: $brand-blue;
  position: absolute;;
  width: 100vw;
  z-index: 100;
  top: 43px;
}

.main-logo {
  margin: 0 auto;
  display: block;
  width: 35%;
  padding: 10px 0;
}

.tagline {
  color: $white;
  text-transform: uppercase;
  font-size: 2rem;
line-height: 1.8rem;

@include media-breakpoint-down(lg) {
  font-size: 1.4rem;
  line-height: 1.4rem;
}
}

.navbar {
  padding: 0;
}

.navbar-nav {
  li {
    a {
      color: $white;
      text-transform: uppercase;
    }
  }
}

.wrapper-info-bar {
  position: absolute;;
  height: 43px;
  z-index: 100;
}

  .info-bar-inner {
    float: right;
    p {
      display: inline-block;
      color: $white;
      margin: 0;
      line-height: 40px;
    }
  }


.navbar {
  height: 110px;
}
.shop-nav {
  position: relative;
  display: inline-block;
  margin: 0;

  li a {
    color: $brand-blue;
  }
}

  //Custom Icons for shop-nav


  .cart-buy {
      margin-left: -35px;
      position: absolute;
     top: 50%;
     transform: translateY(-50%);
    a{
    background-image: url(../assetts/img/cart.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    position: relative;
    display: inline-block;
    vertical-align: text-bottom;
  }
}

  .buy-icon {
    margin-left: 20px;
    padding-left: 10px;
    height: 115px;
      a{
      background-image: url(../assetts/img/buy-btn.svg);
      background-size: cover;
      background-repeat: no-repeat;
      height: 90px;
      width: 90px;
      position: relative;
      display: inline-block;
      vertical-align: text-bottom;
      padding: 20px 0;
      margin-top: 10px;
    }
}


//Text Template

.text-tpl-header {
  width: 70%;
  text-align: center;
  margin: 0 auto 20px auto;
  display: block;
}

.text-tpl-wrap {
  padding: 20px;
  border: 3px dashed $brand-green;
  background: $bg-white;
  margin-bottom: 40px;
}

.bottom-section {
  background-image: url(../assetts/img/watermelon-bg.png);
  height: 400px;
  z-index: 5;
}

.melon-slice-btm {
  background-image: url(../assetts/img/melon-btm-bg.png);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: calc(100vh - 300px);
}

.drink-carton {
  position: absolute;
  display: block;
  right: 60px;
  bottom: -80px;
  width: 220px;
  z-index: 25;
  transform: rotate(11deg);
}

.home {
  .drink-carton {
    bottom: 20px;
    left: 80px;
    transform: rotate(-11deg);
  }
}

.melon-top {
  position: absolute;
  display: block;
  width: 350px;
  right: 0;
  top: 0;
}

.melon-btm {
    position: absolute;
    display: block;
    width: 450px;
    left: 0;
    bottom: 0;
}

.mrg-btm {
  margin-bottom: 50px;
}

.mrg-btm-xl {
  margin-bottom: 300px;
}
//Accordion

.type {
      width: 30%;
      position: absolute;
      left: 20px;
      z-index: 15;
      bottom: 20px;
}

.faq-accordion {
  .card {
    background: $bg-white;
    border: none;

    &:first-child .card-header{
      border-top: 2px dashed $brand-light-pink;
    }

    .card-header {
      background-color: rgba($brand-green, .7);
     border: 2px dashed $brand-light-pink;
     border-top: none;

     .melon-h {
       @include transition(all 1.0s ease-in-out);
       @include transform(rotate(90deg));
     }

     .collapsed .melon-h {
      //  width: 40px;
       @include transform(rotate(0));

     }

     span {
       color: $white;
       cursor: pointer;
     }
    }

    .content {
      background-color: $bg-white;
      padding: 15px;
      border-left: 2px dashed $brand-green;
      border-right: 2px dashed $brand-green;
      border-bottom: 2px dashed $brand-light-pink;
    }
}
}


//Product

.carton-inner {
  position: relative;
  bottom: 0;

    @include media-breakpoint-down(lg) {
      img {
        width: 50%;
    margin: 20px auto;
    display: block;
      }
    }

}

.negative-top {
  top: -120px;
}

.product-txt-wrap {
  text-shadow: 3px 1px 2px rgba(0,0,0,.8);
}


.bg-img {
  position: fixed;
  display: block;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  img {
  max-width: initial;
  height: 100%;
  object-fit: cover;
  width: 100%;
  }
}
.page-id-129 {
  // background-image: url(../assetts/img/melon-bg.jpg);
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center center;
  // background-attachment: fixed;



  .footer-inner {
    background: none;
  }
}

.pro-disco-ball {
  position: relative;
  top: -120px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

@include media-breakpoint-down(sm) {
  .pro-disco-ball {
    width: 50%;
  }
}

.loves-melons {
    font-size: 4rem;
    margin-bottom: 15px;
}

@include media-breakpoint-down(sm) {
  .loves-melons {
      font-size: 3rem;
      margin-top: 30px;
      text-align: center;
  }
}

.thats-why {
  color: white;
font-size: 2.4rem;
line-height: 2.5rem;
    margin-bottom: 15px;
}

.ingredients {
  color: white;
  font-size: 2rem;
  line-height: 2rem;
      margin-bottom: 15px;
}

.available-in {
  color: white;
  font-size: 1.2rem;
  line-height: 1.4rem;
      margin-bottom: 15px;
}

.buy-btn {
  text-shadow: none;
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.icon-txt-wrp {
  margin-bottom: 20px;
}

.info-icons {
  height: 90px;
  width: auto;
  margin: 0 auto 10px auto;
  display: block;
}


.info-text-wrap {
  color: $white;
  background: $bg-blk;
  border-radius: 100px;
  padding: 10px 30px;
  text-align: center;

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1.2rem;

    @include media-breakpoint-down(sm) {
      font-size: 1.4rem;
    }
  }
}

.infog-ttl {
  width: 90%;
  margin: 100px auto 30px auto;
  text-shadow: 3px 1px 2px rgba(0,0,0,.8);
  font-size: 4rem;


}

@include media-breakpoint-down(sm) {
  .infog-ttl {
    width: 100%;
  }
}



.infog-intro {
    color: $white;
    font-size: 1.6rem;
    line-height: 1.6rem;
      text-shadow: 3px 1px 2px rgba(0,0,0,.8);

    span{
      font-size: 1.2rem;
      line-height: 1.2rem;
      display: block;
    }
}

.infographic {
  background-image: url(../assetts/img/watermelon_slice.png);
  background-size: 60%;
  background-position: bottom center;
  background-repeat: no-repeat;
}

@include media-breakpoint-down(sm) {
  .infographic {
  background: none;
}
}

//Gallery

.padding-top {
  padding-top: 150px;
}
.cloud-bg {
  background-image: url(../assetts/img/gallery-bg.png);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

.pink-btn {
  background: $brand-drk-pink;
  color: $white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  display: block;
  margin: 20px auto 0 auto;
  width: 200px;
  transition: all .5s ease;

  &:hover {
    color: $white;
    text-decoration: none;
    background-color: darken($brand-drk-pink, 10% );
  }
}

@include media-breakpoint-down(sm) { .pink-btn {
  width: 150px;
} }

// Footer



footer {
  position: relative;
  z-index: 6;

}

.footer-inner {
  background-image: url(../assetts/img/footer-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  position: relative;
  bottom: 0;
  margin: 0;
  padding: 0 0 10px 0;
  display: inline-block;
  z-index: 30;

}

.footer-nav {
  margin:  0;
  padding: 30px 0 0 0;
  text-shadow: 3px 1px 2px rgba(0,0,0,.8);
  .nav-link{
      color: white;
      text-transform: uppercase;
      padding: 0 .8em 0 0;
    }

    .menu-item {
      font-size: 1.05rem;
    }
}

.footer-logo {
  margin: 0 31% 0 auto;
  display: block;
  width: 50%;
  padding: 10px 0;
}

.home footer {
  position: fixed;
  bottom: 0;

  .footer-inner {
    position: absolute;
  }
}

//Buttons
.btn-primary, .single_add_to_cart_button {
  padding: 10px 60px;
  a {
  color: $white;
  &:hover {
    text-decoration: none;
  }
}
}

.btn-secondary {
  background-color: #CC6666;
  border-radius: 0;
  border: 1px solid $white;
  padding: 5px 15px;
  margin-bottom: 3px;
  a {
    color: $white;
    &:hover {
      text-decoration: none;
    }
  }

  &:hover {
    background-color: darken( #cc6666, 10% );
    border-color: $white;
  }
}


.row {
  // width: 100%;
}

@mixin vertical-align($position: absolute) {
  position: $position;
  top: 50%;
  -webkit-transform: perspective(1px) translateY(-50%);
  -ms-transform: perspective(1px) translateY(-50%);
  transform: perspective(1px) translateY(-50%);
}

.vertical-align {
  @include vertical-align();
}


.social-media-icons {
  list-style-type: none;
  text-align: center;
  padding: 40px 0 0 0;

  li {
    display: inline-block;
    padding: 0 30px 0 0;

    i {
      font-size: 2rem;

      @include media-breakpoint-down(lg) {
        font-size: 1.5rem;
      }

      @include media-breakpoint-down(sm) {
        font-size: 2rem;
      }
    }

    a {
      color: $white;

      &:hover {
        color: $white
      }
    }
  }
}

//Pop Up


.melon-bg {
  top: 100px;
  max-width: 800px;

  @include media-breakpoint-down(sm) {
    max-width: 500px;
    }


  .modal-content {
  background-image: url(../assetts/img/melon-bg.jpg);
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 800px;
  border: 10px solid $brand-drk-pink;
  border-radius: 20px;



}



h2 {
  text-decoration: underline;
  margin-top: 40px;
  font-size: 5rem;
  width: 80%;
}

p {
  color: $white;
  font-size: 2.2rem;
  line-height: 2rem;
  width: 80%;
}


.left-news {
  width: 20%;
  display: inline-block;
  position: relative;
  float: left;

}

.right-news {
  width: 70%;
  display: inline-block;
  position: relative;
  float: left;
}

.close-icon {
    width: 50px;
    position: absolute;
    right: -20px;
    top: -30px;
    cursor: pointer;
    z-index: 100;
}

.pop-carton {
  transform: rotate(-6deg);
  position: absolute;
  top: -120px;
  left: -24px;

  @include media-breakpoint-down(sm) {
    height: 70vh;
    display: block;
    margin: 0 auto;
  }
}
}

.popform-cont {
  width: 80%;
}

.form-response {
  display: block;
  color: $white;
  font-size: 1.6rem;
  line-height: 1.2rem;
}

.footer-form{
  margin: 38px 0 0 0;
  @include media-breakpoint-down(sm) {
    margin: 0 0 10px 0;
  }

}
.news-form {
  font-family: $font-family-sans-serif;
  .email {
width: 60%;
position: relative;
display: inline-block;
margin: 0;
padding: 0 5px;
float: left;
-webkit-appearance: none;
height: 30px;
border:none;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
font-family: $font-family-sans-serif;
}
 .button {
width: 35%;
position: relative;
display: inline-block;
margin: 0;
float: left;
height: 30px;
-webkit-appearance: none;
background: $brand-drk-pink;
color: $white;
border:none;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
  font-family: $font-family-sans-serif;
}
}

.page-form {
  width: 80%;
  margin: 0 10%;
    .email {
      width: 100%;
      border-radius: 5px;
      margin-bottom: 10px;
    }

    .button {
      width: 40%;
      display: block;
      margin: 0 auto;
    }
}

//Blog

.blog-wrap {
  .container {
    padding-left: 3%;
  }
}

.post {
  display: inherit;
}



.content-filter-show {
  visibility: visible;
  display: inherit;
}

.content-filter-hide {
  visibility: hidden;
  display: none;
}

.filter-wrapper {
  list-style-type: none;
  text-align: center;
  li {
    display: inline-block;
    border: 2px solid $brand-green;
    padding: 10px 60px;
    margin: 0 10px 10px 0;
    background: $brand-green;
    color: $white;
    width: 200px;
    cursor: pointer;

    &:hover {
      background-color: darken($brand-green, 10%);
      border-color: darken($brand-green, 10%);

    }
  }


  .filter-active {
    background-color: darken($brand-green, 10%);
    border-color: darken($brand-green, 10%);
  }

}


.read-article {
position: absolute;
top: 25%;
text-align: center;
width: 100%;
opacity: 0;
color: $white;
transition: all .5s;
font-size: 2rem;
}

.image-bg {
  background-color: rgba(0,0,0,0.0);
  cursor: pointer;
  transition: all .5s;

  img {
    opacity: 1;
    transition: all .5s;
  }

  &:hover {
      background-color: rgba(0,0,0,0.8);
    img {
      opacity: .5;
    }

    .read-article {
      opacity: 1;
    }
  }

}


.type-post {
  margin-bottom: 20px;
  display: inline-flex;

  img {
    display: block;
  }

  .archive-img {
    object-fit: cover;
    position: absolute;
    left: 0;
    width: calc(100% - 30px);
  }
}

.posted-on-wrap {
  margin-top: 10px;
  color: $black;

  a {
    color: $black;
    text-decoration: none;
  }
}

.nav-links {
  a {
    display: inline-block;
    border: 2px solid $brand-green;
    padding: 10px 60px;
    margin: 0 10px 0 0;
    background: $brand-green;
    color: $white;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }

  }
}




.entry-content {
  background: $bg-white;
  padding: 10px;
  text-decoration: none;

  h2 {
    color: $brand-drk-pink;
  }
}

.article-wrap a{
  color: $black;
  &:hover {
    text-decoration: none;
  }

}

//contact page

.contact-wrap {
  font-size: 1.4rem;
  margin-top: 100px;
  .contact-label {
    color: $black;
    display: block;
    margin-bottom: 5px;
  }

  .contact-info {
    color: $white;
    display: block;
    margin-bottom: 5px;

     a{
       color: $white;

       &:hover {
         text-decoration: none;
       }
     }
  }
}

//forms

.gfield_label {
  display: none;
}

.name_first {
  label {
    display: none;
  }

  input {
    padding: 5px 10px;
    border: 2px solid $brand-green;
    background: $white;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 5px;
  }
}

.name_last {
  label {
    display: none;
  }

  input {
    padding: 5px 10px;
    border: 2px solid $brand-green;
    background: $white;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 5px;
}
}

.ginput_container {
  input {
    padding: 5px 10px;
    border: 2px solid $brand-green;
    background: $white;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 5px;
  }

  .textarea {
    padding: 5px 10px;
    border: 2px solid $brand-green;
    background: $white;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 5px;
  }
  }

.gfield_radio, .gform_fields {
  list-style-type: none;
      padding: 0;
}

.gform_next_button, .gform_previous_button, #gform_submit_button_1 {
  -webkit-appearance: none;
  background: $brand-green;
  color: $white;
  border:none;
  border-radius: 5px;
  font-family: $font-family-sans-serif;
  width: 48%;
  margin-bottom: 30px;
  display: inline-block;
}


.gfield_radio li {
  input {
    display: none;
    visibility: hidden;
  }

  label {
    border: 2px solid $white;
    width: 100%;
    color: $white;
    text-align: center;
    padding: 17.5px 0;
    line-height: inherit;
    transition: all .5s ease;
    cursor: pointer;
    letter-spacing: 0.1rem;
  }

  #choice_1_9_0:checked + #label_1_9_0,   #choice_1_9_1:checked + #label_1_9_1,   #choice_1_9_2:checked + #label_1_9_2  {
    background-color: $brand-drk-pink;
    border-color: $brand-drk-pink;
}
}

//
// #gform_next_button_1_3, #gform_previous_button_1_5, #gform_previous_button_1_4, #gform_previous_button_1 {
//   display: none;
//   visibility: hidden;
// }

button, input, optgroup, select, textarea {
  font-family: $font-family-sans-serif;
}



.container-404 {
  a {
    text-decoration: none;
    color: $brand-drk-pink;
  }
}
.gif-melon {
  margin: 0 auto;
  display: block;
}


.account-link {
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
line-height: 40px;
border: 2px solid $white;
padding: 5px 20px;
  @include transition(all .5s ease-in-out);
&:hover {
  color: $white;
  text-decoration: none;
  background: $white;
  color: $brand-drk-pink;
}
}

.site-main {
  width: 96%;
  margin: 0 auto 20px auto;
}
