// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere

$font-family-sans-serif: 'Futura-Medium', Arial, sans-serif;
$font-family-sans-serif-bold: 'Futura-Bold', Arial, sans-serif;
$font-family-display:    'Januar', Helvetica, Arial, sans-serif;
$font-family-serif:      Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;
$brand-primary:         #895cd1; //#ff6d5a

//Changing cols
$grid-columns:               16 !default;
$grid-gutter-width-base:     20px !default;


$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1260px
) !default;




// Colors

$brand-drk-pink: #E5616C;
$brand-light-pink: #FFCCCC;
$brand-drk-green: #33C700;
$brand-green: #76BE43;
$brand-red: #FF0033;
// $brand-blue: #A9E0EA;
$brand-blue: rgb(96,197,215);

$bg-white: rgba(255,255,255,0.7);
$bg-blk: rgba(0,0,0,0.6);

//btns

$brand-primary: $brand-green;

// Basics of a navbar
$navbar-height:                    60px;
$navbar-margin-bottom:             0px;
$navbar-border-radius:             0px;



//
// @include media-breakpoint-up(xs) {  }
// @include media-breakpoint-up(sm) {  }
// @include media-breakpoint-up(md) {  }
// @include media-breakpoint-up(lg) {  }
// @include media-breakpoint-up(xl) {  }


// @include media-breakpoint-down(xs) { ... }
// @include media-breakpoint-down(sm) { ... }
// @include media-breakpoint-down(md) { ... }
// @include media-breakpoint-down(lg) { ... }
//
// @include media-breakpoint-only(xs) { ... }
// @include media-breakpoint-only(sm) { ... }
// @include media-breakpoint-only(md) { ... }
// @include media-breakpoint-only(lg) { ... }
// @include media-breakpoint-only(xl) { ... }
