// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

//Structure

.content-wrapper {
  padding: 150px 0 0 0;
  min-height: calc(100vh - 100px);
}

//Home Page

.overhang {
  margin-bottom: -100px;
}

.overhang-after {
  margin-top: 100px;
}

.after-banner {
  padding-top: 300px;
}
//BG's

body {
  background-color: $brand-blue;
  overflow-x: hidden;
}

.blue-bg {
  background-color: $brand-blue;
}

.pink-bg-light {
  background-color: $brand-light-pink;
}

.pink-bg-drk {
  background-color: $brand-drk-pink;
}

.full-w {
  width: 100vw;
}

.img-bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


//navbar

.mini-nav {
  position: fixed;
  top: -60px;
  left: 0;
  right: 0;
  height: 60px;
  background: $brand-blue;
  z-index: 20;
  border-bottom: 2px solid $white;
  text-transform: uppercase;

  @include transition(all .5s ease-in-out);

  p {
    line-height: 60px;
    color: $white;
    text-align: right;
  }
  ul {
    padding: 0;
    margin: 0;
    display: inline-block;
    position: relative;
    line-height: 40px;

    li {
       a {
         color: $white;
       }
    }
  }
}
.mini-visible {
  top: 0;
}

.wrapper-navbar {
  background-color: $brand-blue;
  position: absolute;;
  width: 100vw;
  z-index: 100;
  top: 43px;
}

.main-logo {
  margin: 0 auto;
  display: block;
  width: 35%;
  padding: 10px 0;
}

.tagline {
  color: $white;
  text-transform: uppercase;
}

.navbar {
  padding: 0;
}

.navbar-nav {
  li {
    a {
      color: $white;
      text-transform: uppercase;
    }
  }
}

.wrapper-info-bar {
  position: absolute;;
  height: 43px;
  z-index: 100;
}

  .info-bar-inner {
    float: right;
    p {
      display: inline-block;
      color: $white;
      margin: 0;
      line-height: 40px;
    }
  }


.navbar {
  height: 110px;
}
.shop-nav {
  position: relative;
  display: inline-block;
  margin: 0;

  li a {
    color: $brand-blue;
  }
}

  //Custom Icons for shop-nav


  .cart-buy {
      margin-left: -35px;
      position: absolute;
     top: 50%;
     transform: translateY(-50%);
    a{
    background-image: url(../assetts/img/cart.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    position: relative;
    display: inline-block;
    vertical-align: text-bottom;
  }
}

  .buy-icon {
    margin-left: 20px;
    padding-left: 10px;
    height: 115px;
      a{
      background-image: url(../assetts/img/buy-btn.svg);
      background-size: cover;
      background-repeat: no-repeat;
      height: 90px;
      width: 90px;
      position: relative;
      display: inline-block;
      vertical-align: text-bottom;
      padding: 20px 0;
      margin-top: 10px;
    }
}


//Text Template

.text-tpl-header {
  width: 80%;
  text-align: center;
  margin: 0 auto 20px auto;
  display: block;
}

.text-tpl-wrap {
  padding: 20px;
  border: 3px dashed $brand-green;
  background: $bg-white;
  margin-bottom: 40px;
}

.bottom-section {
  background-image: url(../assetts/img/watermelon-bg.png);
  height: 400px;
  z-index: 5;
}

.drink-carton {
  position: absolute;
  display: block;
  right: 60px;
  bottom: -80px;
  width: 280px;
  z-index: 25;
}

.melon-top {
  position: absolute;
  display: block;
  width: 350px;
  right: 0;
  top: 0;
}

.melon-btm {
    position: absolute;
    display: block;
    width: 450px;
    left: 0;
    bottom: 0;
}

.mrg-btm {
  margin-bottom: 200px;
}

.mrg-btm-xl {
  margin-bottom: 300px;
}
//Accordion
.faq-accordion {
  .card {
    background: $bg-white;
    border: none;

    &:first-child .card-header{
      border-top: 2px dashed $brand-light-pink;
    }

    .card-header {
      background-color: rgba($brand-green, .7);
     border: 2px dashed $brand-light-pink;
     border-top: none;

     .melon-h {
       transform: rotate(90deg);
     }

     .collapsed .melon-h {
       width: 40px;
       transform: rotate(0);
     }

     span {
       color: $white;
       cursor: pointer;
     }
    }

    .content {
      background-color: $bg-white;
      padding: 15px;
      border-left: 2px dashed $brand-green;
      border-right: 2px dashed $brand-green;
      border-bottom: 2px dashed $brand-light-pink;
    }
}
}



// Footer



footer {
  position: relative;
  z-index: 6;
}

.footer-inner {
  background-image: url(../assetts/img/footer-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  position: relative;
  bottom: 0;
  margin: 0;
  padding: 0;
  display: inline-block;
  z-index: 30;
}

.footer-nav {
  margin:  0;
  padding: 0;
  .nav-link{
      color: white;
      text-transform: uppercase;
    }
}

.footer-logo {
  margin: 0 auto;
  display: block;
  width: 35%;
  padding: 10px 0;
}

.home footer {
  position: fixed;
  bottom: 0;

  .footer-inner {
    position: absolute;
  }
}

//Buttons
.btn-primary {
  padding: 10px 60px;
  a {
  color: $white;
  &:hover {
    text-decoration: none;
  }
}
}

.btn-secondary {
  background-color: #CC6666;
  border-radius: 0;
  border: 1px solid $white;
  padding: 5px 15px;
  margin-bottom: 3px;
  a {
    color: $white;
    &:hover {
      text-decoration: none;
    }
  }

  &:hover {
    background-color: darken( #cc6666, 10% );
    border-color: $white;
  }
}


.row {
  width: 100%;
}

@mixin vertical-align($position: absolute) {
  position: $position;
  top: 50%;
  -webkit-transform: perspective(1px) translateY(-50%);
  -ms-transform: perspective(1px) translateY(-50%);
  transform: perspective(1px) translateY(-50%);
}

.vertical-align {
  @include vertical-align();
}
