h1, h2, h3 {
  font-family: $font-family-display;
  color: $white;
}


h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 2.8rem;
}

.large-p {
  font-size: 1.6rem;
line-height: 1.6rem;
}

.desert-text {
  font-size: 1.4rem;
line-height: 1.6rem;
}

.white {
  color: $white;
}


.uppercase {
  text-transform: uppercase;
}

body {
  font-family: $font-family-sans-serif;
}

//Colors
.t-drk-pink {
  color: $brand-drk-pink
}

.t-red {
  color: $brand-red
}

.t-white {
  color: $white
}

.t-black {
  color: $black;
}

a {
  color: $brand-drk-pink;
}
