h1, h2, h3 {
  font-family: $font-family-display;
  color: $white;
}

body {
  font-family: $font-family-sans-serif;
}

//Colors
.t-drk-pink {
  color: $brand-drk-pink
}

.t-white {
  color: $white
}

.t-black {
  color: $black;
}
