.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
    max-width: 48%;
    flex: 0;
    width: 48%;
}

.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
  flex: 0;
  max-width: 48%;
  width: 48%;
}
.wc-tabs, .woocommerce-breadcrumb{
  display: none;
  visibility: hidden!important;
}

.woocommerce div.product .woocommerce-tabs .panel {
  background: none!important;
}

#tab-description h2:first-child {
  display: none!important;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover {

background-color: $brand-green;
transition: all .5s;

&:hover {
 background-color: darken( $brand-green, 10% );
}
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
  color: $brand-drk-pink;
}

#customer_details h3 {
  color: $brand-drk-pink;
}
